<!--HEADER-->
<div class="header">
    <div class="logo"> <a href="{{ site.baseurl }}/index.html"><img src="{{ site.baseurl }}/images/logo.png" alt="Vibroacustica.me"></a> </div>
    <div class="cssmenu">
        <ul>
            <li><a href="{{ site.baseurl }}/index.html">INICIO</a></li>       
            <li><a href="/blog/">BLOG</a></li>
            <li><a href="/demo/">DEMO</a></li>
            <li><a href="/mas/">MÁS</a></li>
        </ul>
    </div>
    <div class="top-nav">
        <nav class="clearfix">
            <ul>
                <li><a href="{{ site.baseurl }}/index.html">INICIO</a></li>
                <li><a href="/blog/">BLOG</a></li>
                <li><a href="/demo/">DEMO</a></li>
                <li><a href="/mas/">MÁS</a></li>
            </ul>
        <a href="#" id="pull">MENU</a> 
        </nav>
    </div>
</div>